<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
    </layout> 
  </appender> 
  
    <logger name="org.hibernate.tool">
        <level value="warn"/>
    </logger>
    <logger name="org.hibernate.type">
        <level value="warn"/>
    </logger>

    <logger name="org.hibernate.tools.test.util">
        <level value="warn"/>
    </logger>
    <logger name="org.javautil.hibernate">
        <level value="warn"/>
   </logger>
    <logger name="org.javautil.sql.SqlRunner">
        <level value="warn"/>
   </logger>
     <logger name="org.javautil.dblogging.installer">
        <level value="warn"/>
   </logger>
   <logger name="org.javautil.dblogging.tracepersistence">
        <level value="warn"/>
   </logger>
     <logger name="org.javautil.joblog.installer">
        <level value="debug"/>
   </logger>
        <logger name="org.javautil.joblog.persistence.JoblogPersistenceSql">
        <level value="debug"/>
   </logger>
   <logger name="org.javautil.oracle.tracehandlers">
        <level value="warn"/>
   </logger>
   
  <root> 
    <priority value = "warn" /> 
    <appender-ref ref="console" /> 
  </root>
 
</log4j:configuration>
