<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!--  Oracle type 4 URLS are of the form jdbc:oracle:thin@HHHHH:PPPP:SSSS 
              where HHHHH is the host name or IP 
                    PPPPP is the port probably 1521 
                    SSSS  is the service name or SID 
        -->
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1526:XE</property>
        <property name="hibernate.connection.username">sales_reporting</property>
        <property name="hibernate.connection.password">tutorial</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!--  needed for oracle or reverse engineering will try for all users -->
        <property name="hibernate.default_schema">SALES_REPORTING</property>
    </session-factory>
</hibernate-configuration>
