<!DOCTYPE HTML>
<html>
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<table>
		<tr>
			<td><a href="http://localhost:8086/planQuery">
					http://localhost:8086/planQuerys
			</a></td>
			<td>Plan Query</td>
		<tr>
			<td><a href="http://localhost:8086/plan?partCd=10">
					http://localhost:8086/plan?partCd=10 </a></td>
			<td>Plan for part cd</td>
		</tr>
		<tr>
			<td><a href="http://localhost:8086/projectedPosition?group=10">
					http://localhost:8086/projectedPosition?group=10 </a></td>
			<td>Position group 10</td>
		</tr>


		<tr>
			<td><a href="http://localhost:8086/planData?group=10">
					http://localhost:8086/planData?group=10"</a></td>
			<td>plandata</td>
		</tr>

		<tr>
			<td><a href="http://localhost:8086/icItemStat?itemNbr=43175">
					http://localhost:8086/icItemStat?itemNbr=43175</a></td>
			<td>icItemStat</td>
		</tr>

		<tr>
			<td><a
				href="http://localhost:8086/listOfValues?queryName=fcst_grp">
					http://localhost:8086/listOfValues?queryName=fcst_grp </a></td>
			<td>list of values</td>
		</tr>
	</table>
</body>
</html>

