<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Get your greeting <a href="/greeting">here</a></p>
    
   http://localhost:8086/planQuery


   
#html
   PlanResultController
    http://localhost:8086/plan?partCd=10

# JSon
**   http://localhost:8086/icItemStat?itemNbr=43175

PlanDataController
**   http://localhost:8086/projectedPosition?group=10
**   http://localhost:8086/planData?group=10
List of Values Controller
http://localhost:8086/listOfValues?queryName=fcst_grp
   
    
    
</body>
</html>
